r*{
    margin: 0 10px ;
    padding: 0 24px;
}



body{
    background-color:gold; 
}

.foto_do_pato{
    width: 190px;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: firebrick;
    color: #FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 24px 0;
}

.cabecalho-lista {
    margin: 0 16px;
    font-size: 20px;
    display: inline-block;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(firebrick,gold);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

h1 {
    font-size: 100px;
}

.escola-div-canteudo{
    width: 35%;
}

.escola-titulo{
    padding: 20px 0;
}

.estudante{
    padding: 24px 0;
}

.estudante-imagem {
    width: 250px;
}

.estudante-icone {
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo {
    text-align: center;
    padding: 50px 0 ;
}