r*{
    margin: 0 10px ;
    padding: 0 24px;
}

#grad {
  background-image: linear-gradient(to bottom right, firebrick, yellow);
}

body{
    background-color:gold;
}

.foto_do_pato{
    width: 150px;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    color: #FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecalho-lista {
    font-size: 24px;
    display: inline-block;
}
h1 {
    font-size: 150px;
}
